[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==2.1.2"
numpy = "==1.14.0"
pyproj = "==1.9.5.1"
seaborn = "*"
scipy = "*"

[dev-packages]
"flake8" = "*"
isort = "*"
"flake8-quotes" = "*"
ipython = "*"
colored = "*"
pytest = "*"

[requires]
python_version = "3.6.5"
